# =============================================================================
# GophKeeper Docker Environment
# Скопируйте в .env и настройте под ваше окружение
# =============================================================================

# --- Server ---
SERVER_PORT=50051
GRPC_PORT=9090
LOG_LEVEL=info

# openssl rand -hex 32
HASH_KEY=
# openssl rand -base64 64  
JWT_SECRET=
# Файл крипто-ключа должен лежать в ./data/crypto/crypto.key
# openssl rand -hex 32 > ./data/crypto/crypto.key

# --- Tokens ---
ACCESS_TOKEN_TTL=15
REFRESH_TOKEN_TTL=24